<div class="headerbar">
    <div class="initial-imgs">
        <img class="menu" src="assets/burger-menu.png" alt="">
        <img class="brand" src="assets/brand-icon.png" alt="">
    </div>
    <div class="end-imgs">
        <img class="end-icons" src="assets/people-icon.png" alt="">
        <img class="end-icons" src="assets/notification.png" alt="">
        <img class="end-icons" src="assets/chat-icon.png" alt="">
        <img class="end-icons" src="assets/search-icon.png" alt="">
        <img class="end-icons" src="assets/setting.png" alt="">
    </div>
</div>